<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class='nav-item' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class='nav-link' routerLink="/">Домой</a>
      </li>
      <li class='nav-item' routerLinkActive="active">
        <a class='nav-link' routerLink="/search">Поиск</a>
      </li>
		</ul>
  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
 </div>
