@import 'styles/bootstrap.css';
@import 'styles/bootstrap-theme.css';

body {
    background-color: #d0d0d0;
}

.for-logo {
	padding-top: 30px;
}

.for-logo img {
	width: 150px;
	max-width: 100%;
}

.breach {
	margin-top: 50px;
  background: #525252;
	color: #d0d0d0;
	padding-bottom: 15px;
}

.breach a {
	color: #83bdef;
	box-shadow: 0 2px 0px #83bdef;
}

.breach a:hover, .breach a:focus, .breach a:active {
	color: #83bdef;
	box-shadow: none;
	text-decoration: none;
}

p.data {
	margin-top: 10px;
}

span.input-group-addon {
	padding: 0;
}

span.input-group-addon .btn {
	border-radius: 0 3px 3px 0;
}

input.form-control-lg {
    padding: 23px 15px;
}

select.form-control-lg {
  height: 48px;
}

.inline-form {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.inline-form-cell {
	display: table-cell;
}

.inline-form-cell .ng-select .ng-control {
	min-height: 48px;
	border-radius: 0;
}

.inline-form-cell:first-child .form-control {
	border-radius: 4px 0 0 4px;
}

.inline-form-cell:last-child .btn {
	border-radius: 0 4px 4px 0;
	width: 100%;
}

.inline-form-cell ng-select, .inline-form-cell btn {
	margin-left: -3px;
}

.search-result {
	padding-bottom: 50px;
}