<form #searchForm="ngForm" (ngSubmit)="submitSearch(searchForm.form);" novalidate>
  <div class="inline-form">
		<div class="inline-form-cell">
    <input 
			type="text" 
			class="form-control form-control-lg" 
			placeholder="Имя или E-mail" 
			name="username" 
			[(ngModel)]="nameField"
       required />
		</div>
		<div class="inline-form-cell">
		<ng-select name = "company"
						 [items]="companies"
						 bindLabel="Name"
						 bindValue="Name"
						 placeholder="Выбрать компанию (необязательно)"
						 [(ngModel)]="companyField">
		</ng-select>
		</div>
    <div class="inline-form-cell">
			<button type="submit" class="btn btn-primary btn-lg" [disabled]="!searchForm.valid">Искать</button>
     </div>
  </div>
	
</form>

<spinner [show]="showSpinner"> </spinner>

<div class="search-result">
	
	<div *ngIf="searchStatus=='finished'">
	
		<h2 *ngIf="!searchResult.length">Ничего не найдено по запросу {{resultNameField}}.</h2>
	
		<h2 *ngIf="searchResult.length">Результаты поиска по запросу {{resultNameField}}.</h2>

		<div class="row breach" *ngFor="let breach of searchResult"> 
			<div class="col-md-2 col-sm-3 text-right for-logo">
				<img [src]="'https://haveibeenpwned.com/Content/Images/PwnedLogos/' + breach.Name + '.' + breach.LogoType" />
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>{{ breach.Title }}</h3>
				<div class="description" [innerHTML]="breach.Description"></div>		
				<p class="data"><strong>Compromised data:</strong> 
				<span *ngFor="let data of breach.DataClasses; let isLast=last">{{ data }}{{isLast ? '' : ', '}}</span></p>
			</div>
		</div>
	
	</div>

</div>
