<spinner [show]="showSpinner"> </spinner>

<div class="row breach" *ngFor="let breach of breaches"> 
	<div class="col-md-2 col-sm-3 text-right for-logo">
		<img [src]="'https://haveibeenpwned.com/Content/Images/PwnedLogos/' + breach.Name + '.' + breach.LogoType" />
	</div>
	<div class="col-md-10 col-sm-9">
    <h3>{{ breach.Title }}</h3>
		<div class="description" [innerHTML]="breach.Description"></div>		
		<p class="data"><strong>Compromised data:</strong> 
		<span *ngFor="let data of breach.DataClasses; let isLast=last">{{ data }}{{isLast ? '' : ', '}}</span></p>
	</div>
</div>